<script>function addbot(){$('#addbot').modal('show')}</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Werewolf Utopium</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roles">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onClick="addbot()">Add the bot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://status.werewolf-utopium.tk">Status</a>
      </li>
      
    </ul>
    <div class="navbar-nav justify-content-between">
<!--       <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="darkSwitch" />
        <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
      </div> -->
      <% if(user){ %>
      <span class="navbar-text">
        <img src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png" class="roundimg" style="max-height:1.5em"> 
        <%- user.nickname || user.username %>
      </span>
      <a class="nav-item nav-link" href="/logout"><small>Logout</small></a>
      <% } else { %>
      <a class="nav-item nav-link" href="/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>
<div
     class="modal fade"
     id="addbot"
     tabindex="-1"
     role="dialog"
     aria-labelledby="addbottitle"
     aria-hidden="true"
     >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addbottitle">Unavaliable</h5>
        <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Dismiss"
                >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sorry! The bot is currently unavailable to add into any servers right now. You can come play with us by clicking <a href="/invite">here</a>!
      </div>
      <div class="modal-footer">
        <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                >
          Dismiss
        </button>
      </div>
    </div>
  </div>
</div>